@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yefn6w');
  src:  url('fonts/icomoon.eot?yefn6w#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yefn6w') format('truetype'),
    url('fonts/icomoon.woff?yefn6w') format('woff'),
    url('fonts/icomoon.svg?yefn6w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pictures:before {
  content: "\e907";
}
.icon-images:before {
  content: "\e907";
}
.icon-photos:before {
  content: "\e907";
}
.icon-polaroid:before {
  content: "\e907";
}
.icon-heart:before {
  content: "\e904";
}
.icon-love:before {
  content: "\e904";
}
.icon-like:before {
  content: "\e904";
}
.icon-favorite:before {
  content: "\e904";
}
.icon-checkmark:before {
  content: "\e905";
}
.icon-call:before {
  content: "\e900";
  color: #fff;
}
.icon-download:before {
  content: "\e901";
}
.icon-fb:before {
  content: "\e902";
  color: #fff;
}
.icon-filters:before {
  content: "\e903";
  color: #b6b6b6;
}
.icon-instagram:before {
  content: "\e906";
  color: #fff;
}
.icon-location-pin:before {
  content: "\e909";
  color: #fff;
}
.icon-mail:before {
  content: "\e90a";
  color: #fff;
}
.icon-send:before {
  content: "\e90d";
  color: #b6b6b6;
}
.icon-twitter:before {
  content: "\e90e";
  color: #fff;
}
.icon-user:before {
  content: "\e90f";
}
.icon-Verified:before {
  content: "\e910";
}
.icon-video-profile:before {
  content: "\e911";
  color: #fff;
}
.icon-webcastle .path1:before {
  content: "\e912";
  color: rgb(0, 0, 0);
}
.icon-webcastle .path2:before {
  content: "\e913";
  margin-left: -4.9208984375em;
  color: rgb(0, 0, 0);
}
.icon-webcastle .path3:before {
  content: "\e914";
  margin-left: -4.9208984375em;
  color: rgb(0, 0, 0);
}
.icon-webcastle .path4:before {
  content: "\e915";
  margin-left: -4.9208984375em;
  color: rgb(0, 0, 0);
}
.icon-webcastle .path5:before {
  content: "\e916";
  margin-left: -4.9208984375em;
  color: rgb(0, 0, 0);
}
.icon-webcastle .path6:before {
  content: "\e917";
  margin-left: -4.9208984375em;
  color: rgb(0, 0, 0);
}
.icon-webcastle .path7:before {
  content: "\e918";
  margin-left: -4.9208984375em;
  color: rgb(35, 154, 72);
}
.icon-webcastle .path8:before {
  content: "\e919";
  margin-left: -4.9208984375em;
  color: rgb(35, 154, 72);
}
.icon-webcastle .path9:before {
  content: "\e91a";
  margin-left: -4.9208984375em;
  color: rgb(35, 154, 72);
}
.icon-youtube:before {
  content: "\e91b";
  color: #fff;
}
