@font-face {
    font-family: 'CeraPro-BlackItalic';
    src: url('CeraPro-BlackItalic.woff2') format('woff2'),
        url('CeraPro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CeraPro-Black';
    src: url('CeraPro-Black.woff2') format('woff2'),
        url('CeraPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CeraPro-Bold';
    src: url('CeraPro-Bold.woff2') format('woff2'),
        url('CeraPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CeraPro-Medium';
    src: url('CeraPro-Medium.woff2') format('woff2'),
        url('CeraPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CeraPro-Light';
    src: url('CeraPro-Light.woff2') format('woff2'),
        url('CeraPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CeraPro-Italic';
    src: url('CeraPro-Italic.woff2') format('woff2'),
        url('CeraPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CeraPro-Regular';
    src: url('CeraPro-Regular.woff2') format('woff2'),
        url('CeraPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}