h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 2.125rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.063rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 0.875rem;
}

.gradient {
  background: #fcb391;
  background: -webkit-gradient(linear, left top, right top, from(#fcb391), to(#ff5784));
  background: linear-gradient(90deg, #fcb391 0%, #ff5784 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcb391",endColorstr="#ff5784",GradientType=1);
}

.common-btn {
  background: #fd427c;
  background: -webkit-gradient(linear, left top, right top, from(#fd427c), to(#ff5784));
  background: linear-gradient(90deg, #fd427c 0%, #ff5784 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fd427c",endColorstr="#ff5784",GradientType=1);
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 1rem;
  min-width: 13.125rem;
  text-align: center;
  padding: 1rem 0;
  display: inline-block;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  outline: 0;
  border: 1px solid #fd427c;
}

.common-btn:hover {
  border-radius: 10px 0 10px 0;
  color: #FFFFFF;
}

@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@-webkit-keyframes rotated {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotated {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes pulse-red {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }
  70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
            box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
            box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

@keyframes pulse-red {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }
  70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
            box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
            box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
  font-size: 90%;
}

@media (min-width: 767px) {
  html {
    font-size: 100%;
  }
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #fff;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'CeraPro-Regular';
  background: #FFFFFF;
  overflow-x: hidden;
}

body .cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  margin: 0;
  background: #fcb391;
  background: -webkit-gradient(linear, left top, right top, from(#fcb391), to(#ff5784));
  background: linear-gradient(90deg, #fcb391 0%, #ff5784 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcb391",endColorstr="#ff5784",GradientType=1);
  border-radius: 80%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
  display: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

section {
  max-width: 100vw;
  padding-top: 60px;
  padding-bottom: 60px;
}

p {
  margin: 0;
  padding: 0;
}

label {
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0px;
}

.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

img {
  width: 100%;
}

.D-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shape-wrapper .blue-ball {
  position: absolute;
}

.shape-wrapper .shape1 {
  position: absolute;
  top: 0;
  left: 410px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 15px;
}

@media (max-width: 991.5px) {
  .title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.title h5 {
  color: #000;
  font-family: 'CeraPro-Bold';
  margin-top: 7px;
  margin-left: 5.3px;
}

.common-title h2 {
  font-family: 'CeraPro-Bold';
  margin-bottom: 23px;
  line-height: 45px;
  color: #24172B;
}

@media (max-width: 991.5px) {
  .common-title h2 {
    text-align: center;
  }
}

.common-title p {
  color: #000000b3;
  line-height: 25px;
}

@media (max-width: 991.5px) {
  .common-title p {
    text-align: center;
  }
}

.clear-fix {
  overflow: auto;
}

.clear-fix::after {
  content: "";
  clear: both;
  display: table;
}

/******************* Header css **********************************/
.header {
  position: relative;
}

.header .D-flex .menu {
  margin-top: 25px;
}

@media (max-width: 991.5px) {
  .header .D-flex .menu {
    margin-top: 0;
  }
}

@media (max-width: 991.5px) {
  .header .D-flex .menu ul {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 10px 15px #00000014;
            box-shadow: 0px 10px 15px #00000014;
    z-index: 99;
    padding-top: 2rem;
    padding-bottom: 2rem;
    top: -300px;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    border-radius: 0 0 25px 25px;
  }
}

.header .D-flex .menu ul li {
  margin-right: 2.5rem;
}

@media (max-width: 991.5px) {
  .header .D-flex .menu ul li {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}

.header .D-flex .menu ul li:last-child {
  margin-right: 0;
}

@media (max-width: 991.5px) {
  .header .D-flex .menu ul li:last-child {
    margin-bottom: 0rem;
  }
}

.header .D-flex .menu ul li a {
  color: #25182C;
  font-family: 'CeraPro-Medium';
  font-size: 1.063rem;
}

.header .D-flex .menu ul li a:hover {
  color: #25182cc9;
}

.header .D-flex .menu .mobile-menu {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  display: none;
}

@media (max-width: 991.5px) {
  .header .D-flex .menu .mobile-menu {
    display: block;
  }
}

.header .D-flex .menu .mobile-menu .line-1, .header .D-flex .menu .mobile-menu .line-2, .header .D-flex .menu .mobile-menu .line-3 {
  border-top: 3px solid #383E40;
  display: block;
  -webkit-transition: margin 0.5s, -webkit-transform 0.5s;
  transition: margin 0.5s, -webkit-transform 0.5s;
  transition: margin 0.5s, transform 0.5s;
  transition: margin 0.5s, transform 0.5s, -webkit-transform 0.5s;
  width: 25px;
}

.header .D-flex .menu .mobile-menu .line-2 {
  margin: 5px 0;
}

.header .D-flex .menu .mobile-menu.toggle {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.header .D-flex .menu .mobile-menu.toggle .line-1, .header .D-flex .menu .mobile-menu.toggle .line-2, .header .D-flex .menu .mobile-menu.toggle .line-3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .D-flex .menu .mobile-menu.toggle .line-2 {
  margin: -3px 0;
  opacity: 0;
}

.header .D-flex .menu .mobile-menu.toggle .line-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .D-flex .menu.menu-toggle .D-flex {
  top: 85px;
}

.header .shape-wrapper .blue-ball {
  left: 54px;
  top: 30px;
  z-index: -1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/******************* footer css **********************************/
.footer {
  padding-top: 70px;
  background: #FFFBF5;
  border-radius: 75% 75% 0 0;
}

@media (max-width: 767.5px) {
  .footer {
    border-radius: 150px 150px 0 0;
    z-index: 99;
    position: relative;
  }
}

.footer .footer-logo {
  width: 229px;
  margin: 0 auto 20px;
}

.footer .store-flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-menu {
  margin-top: 35px;
  margin-bottom: 39px;
}

.footer .footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 520.5px) {
  .footer .footer-menu ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer .footer-menu ul li {
  margin-right: 38px;
}

@media (max-width: 520.5px) {
  .footer .footer-menu ul li {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
}

.footer .footer-menu ul li:last-child {
  margin-right: 0;
}

@media (max-width: 520.5px) {
  .footer .footer-menu ul li:last-child {
    margin-bottom: 0px;
  }
}

.footer .footer-menu ul li a {
  color: #565C6B;
  font-size: 0.875rem;
}

.footer .contacts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.5px) {
  .footer .contacts ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer .contacts ul li {
  margin-right: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 991.5px) {
  .footer .contacts ul li {
    margin-right: 0;
    margin-bottom: 25px;
    width: calc(100% / 2);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 520.5px) {
  .footer .contacts ul li {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .contacts ul li .icons {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  background: #fd427c;
}

.footer .contacts ul li .icons span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer .contacts ul li .icons span::before {
  font-size: 13px;
  line-height: 26px;
}

.footer .contacts ul li .contacts-nos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 40px);
  margin-left: 10px;
}

@media (max-width: 520.5px) {
  .footer .contacts ul li .contacts-nos {
    width: 100%;
    margin-left: 0;
    text-align: center;
    margin-top: 1.25rem;
  }
}

.footer .contacts ul li .contacts-nos a {
  color: #565C6B;
  font-size: 1rem;
}

.footer .contacts ul li:last-child {
  margin-right: 0;
}

.footer .D-flex {
  padding: 20px 0;
  margin-top: 30px;
  border-top: 1px solid #0000001a;
}

@media (max-width: 767.5px) {
  .footer .D-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767.5px) {
  .footer .D-flex .copy-right {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 520.5px) {
  .footer .D-flex .copy-right {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}

.footer .D-flex .copy-right p {
  color: #373A5B;
}

@media (max-width: 767.5px) {
  .footer .D-flex .social-medias {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin-bottom: 10px;
  }
}

.footer .D-flex .social-medias ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .D-flex .social-medias ul li {
  margin-right: 11px;
}

.footer .D-flex .social-medias ul li:last-child {
  margin-right: 0;
}

.footer .D-flex .social-medias ul li a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  background: #fd427c;
  display: block;
}

.footer .D-flex .social-medias ul li a span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer .D-flex .social-medias ul li a span::before {
  font-size: 12px;
  line-height: 26px;
}

@media (max-width: 767.5px) {
  .footer .D-flex .poweredby {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 520.5px) {
  .footer .D-flex .poweredby {
    width: 100%;
    text-align: center;
  }
}

.blue-ball,
.star1,
.star2 {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
  position: absolute;
}

.swal2-popup .swal2-styled {
  background: #fd427c !important;
  background: -webkit-gradient(linear, left top, right top, from(#fd427c), to(#ff5784)) !important;
  background: linear-gradient(90deg, #fd427c 0%, #ff5784 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fd427c",endColorstr="#ff5784",GradientType=1) !important;
  border-radius: 10px !important;
  color: #FFFFFF;
  font-size: 1rem;
}

/************** banner css ******************/
.banner {
  position: relative;
}

@media (max-width: 991.5px) {
  .banner .D-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.banner .banner-captions {
  width: 50%;
}

@media (max-width: 991.5px) {
  .banner .banner-captions {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.banner .banner-captions h1 {
  font-family: 'CeraPro-Bold';
  line-height: 57px;
  color: #24172B;
  max-width: 350px;
}

@media (max-width: 991.5px) {
  .banner .banner-captions h1 {
    max-width: 500px;
    margin: auto;
    text-align: center;
  }
}

.banner .banner-captions h6 {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #262323;
  line-height: 25px;
  max-width: 250px;
}

@media (max-width: 991.5px) {
  .banner .banner-captions h6 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.banner .banner-images {
  width: 50%;
  position: relative;
  cursor: pointer;
}

@media (max-width: 991.5px) {
  .banner .banner-images {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 2.5rem;
  }
}

.banner .banner-images .card1 {
  position: absolute;
  top: 30px;
  left: -25px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media (max-width: 767.5px) {
  .banner .banner-images .card1 {
    left: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    top: -10px;
  }
}

.banner .banner-images .card2 {
  position: absolute;
  top: 60%;
  left: -66px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

@media (max-width: 767.5px) {
  .banner .banner-images .card2 {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    left: -77px;
  }
}

.banner .banner-images .card3 {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 767.5px) {
  .banner .banner-images .card3 {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.banner .banner-images:hover .card1 {
  left: -55px;
}

@media (max-width: 991.5px) {
  .banner .banner-images:hover .card1 {
    left: 0;
  }
}

.banner .banner-images:hover .card2 {
  left: -86px;
}

@media (max-width: 991.5px) {
  .banner .banner-images:hover .card2 {
    left: -80px;
  }
}

.banner .banner-images:hover .card3 {
  right: -20px;
}

@media (max-width: 991.5px) {
  .banner .banner-images:hover .card3 {
    right: 0;
  }
}

.banner .shape-wrapper .shape2 {
  position: absolute;
  left: -60px;
  bottom: 30%;
}

.banner .shape-wrapper .shape3 {
  position: absolute;
  left: 58px;
}

.banner .shape-wrapper .shape4 {
  position: absolute;
  left: 40%;
  bottom: 35%;
}

.banner .shape-wrapper .shape5 {
  position: absolute;
  right: 17%;
  bottom: 20%;
}

.banner .shape-wrapper .line {
  position: absolute;
  left: 200px;
  top: 50px;
  -webkit-animation: rotated 20s infinite linear;
  animation: rotated 20s infinite linear;
}

.banner .shape-wrapper .star1 {
  left: 20%;
  bottom: -10%;
}

.banner .shape-wrapper .star2 {
  right: 20%;
  bottom: -10%;
}

.banner .shape-wrapper .blue-ball {
  width: 5.49px;
  left: 20%;
  bottom: 0;
}

.store-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.5px) {
  .store-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.store-flex a {
  margin-right: 27px;
}

.store-flex a:last-child {
  margin-right: 0px;
}

/************** about css ******************/
.about {
  position: relative;
}

.about .shape-wrapper .star1 {
  left: 20%;
  bottom: -5%;
}

.about .shape-wrapper .star2 {
  right: 20%;
  bottom: -5%;
}

.about .shape-wrapper .blue-ball {
  width: 5.49px;
  right: 20%;
  top: 10%;
}

.about .shape-wrapper .shape6 {
  position: absolute;
  right: -3%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about .D-flex {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 991.5px) {
  .about .D-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.about .D-flex .about-img {
  margin-left: -75px;
  width: 462px;
  margin-right: 25px;
}

@media (max-width: 991.5px) {
  .about .D-flex .about-img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
}

.about .D-flex .about-first-look {
  width: calc(100% - 487px);
}

@media (max-width: 991.5px) {
  .about .D-flex .about-first-look {
    width: 100%;
  }
}

.about .D-flex .about-first-look .key-points {
  margin-top: 25px;
}

.about .D-flex .about-first-look .key-points .D-flex {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.about .D-flex .about-first-look .key-points .D-flex .grid-box {
  width: calc(100% / 2 - 20px);
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

@media (max-width: 580.5px) {
  .about .D-flex .about-first-look .key-points .D-flex .grid-box {
    width: 100%;
  }
}

.about .D-flex .about-first-look .key-points .D-flex .grid-box .grid-icon {
  width: 42px;
}

@media (max-width: 580.5px) {
  .about .D-flex .about-first-look .key-points .D-flex .grid-box .grid-icon {
    margin: auto;
  }
}

.about .D-flex .about-first-look .key-points .D-flex .grid-box h3 {
  color: #000;
  line-height: 26px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 580.5px) {
  .about .D-flex .about-first-look .key-points .D-flex .grid-box h3 {
    text-align: center;
  }
}

.about .D-flex .about-first-look .key-points .D-flex .grid-box p {
  font-size: 0.813rem;
  color: #000000b3;
}

@media (max-width: 580.5px) {
  .about .D-flex .about-first-look .key-points .D-flex .grid-box p {
    text-align: center;
  }
}

/************** features css ******************/
.features {
  position: relative;
}

.features .shape-wrapper .star1 {
  left: 20%;
  bottom: -5%;
}

.features .shape-wrapper .star2 {
  right: 20%;
  bottom: -5%;
}

.features .shape-wrapper .blue-ball {
  width: 5.49px;
  right: 20%;
  top: 10%;
}

.features .shape-wrapper .shape7 {
  position: absolute;
  left: -3%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.features .container {
  overflow: hidden;
}

.features .mobile-center {
  display: none;
  margin-bottom: 2.5rem;
}

@media (max-width: 991.5px) {
  .features .mobile-center {
    display: block;
  }
}

.features .mobile-center .title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 991.5px) {
  .features .web-only {
    display: none;
  }
}

.features .mobile-only {
  display: none;
}

@media (max-width: 991.5px) {
  .features .mobile-only {
    display: block;
  }
}

.features .mobile-only .first-look-features .tab-names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}

.features .mobile-only .first-look-features .tab-names .icon {
  width: 35px;
  height: 35px;
  background: #fcb391;
  background: -webkit-gradient(linear, left top, right top, from(#fcb391), to(#ff5784));
  background: linear-gradient(90deg, #fcb391 0%, #ff5784 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcb391",endColorstr="#ff5784",GradientType=1);
  border-radius: 50%;
  position: relative;
  margin-right: 15px;
}

.features .mobile-only .first-look-features .tab-names .icon span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 13px;
}

.features .mobile-only .first-look-features .tab-names .icon span::before {
  color: #FFFFFF;
}

@media (max-width: 767.5px) {
  .features .mobile-only .first-look-features {
    padding-bottom: 40px;
  }
}

@media (max-width: 767.5px) {
  .features .mobile-only .first-look-features .video-profile {
    width: 300px;
    margin: 0 auto 2.5rem;
  }
}

.features .mobile-only .swiper-pagination-features {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features .mobile-only .swiper-pagination-features .swiper-pagination-bullet-active {
  background: #FD427C;
}

.features .D-flex {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 767.5px) {
  .features .D-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.features .D-flex .left-tabs {
  width: 222px;
  margin-right: 20px;
}

@media (max-width: 767.5px) {
  .features .D-flex .left-tabs {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.features .D-flex .left-tabs .tabs-left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: none;
}

@media (max-width: 767.5px) {
  .features .D-flex .left-tabs .tabs-left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-bottom: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 510px;
    overflow-x: auto;
  }
}

@media (max-width: 767.5px) {
  .features .D-flex .left-tabs .tabs-left li {
    margin-right: 15px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
  }
}

.features .D-flex .left-tabs .tabs-left li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 2px solid #E8EAEF;
  padding: 7.5px 0;
}

@media (max-width: 767.5px) {
  .features .D-flex .left-tabs .tabs-left li a {
    border-right: none;
  }
}

.features .D-flex .left-tabs .tabs-left li a.active {
  border-right: 2px solid #FD427C;
}

@media (max-width: 767.5px) {
  .features .D-flex .left-tabs .tabs-left li a.active {
    border-right: none;
  }
}

.features .D-flex .left-tabs .tabs-left li a.active .icon {
  background: #fcb391;
  background: -webkit-gradient(linear, left top, right top, from(#fcb391), to(#ff5784));
  background: linear-gradient(90deg, #fcb391 0%, #ff5784 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcb391",endColorstr="#ff5784",GradientType=1);
}

.features .D-flex .left-tabs .tabs-left li a.active .icon span::before {
  color: #FFFFFF;
}

.features .D-flex .left-tabs .tabs-left li a .icon {
  width: 35px;
  height: 35px;
  background: #F5F5F5;
  border-radius: 50%;
  position: relative;
  margin-right: 15px;
}

.features .D-flex .left-tabs .tabs-left li a .icon span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 13px;
}

.features .D-flex .left-tabs .tabs-left li a .icon span:before {
  color: #B6B6B6;
}

.features .D-flex .left-tabs .tabs-left li a h6 {
  color: #000;
}

.features .D-flex .right-tabpanels {
  width: calc(100% - 242px);
}

@media (max-width: 767.5px) {
  .features .D-flex .right-tabpanels {
    width: 100%;
  }
}

@media (max-width: 991.5px) {
  .features .D-flex .right-tabpanels .title {
    display: none;
  }
}

.features .D-flex .right-tabpanels .tab-content .tab-pane .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.5px) {
  .features .D-flex .right-tabpanels .tab-content .tab-pane .row .video-profile {
    margin-bottom: 2.5rem;
  }
}

/********************** screen-shots styles************************/
.screen-shots {
  position: relative;
  min-height: 380px;
  margin-top: 50px;
  padding-top: 80px;
}

.screen-shots .D-flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.screen-shots .D-flex .scrren-shot-desp {
  max-width: 453px;
}

@media (max-width: 991px) {
  .screen-shots .D-flex .scrren-shot-desp {
    margin: auto;
  }
}

.screen-shots .D-flex .scrren-shot-desp .common-title h2, .screen-shots .D-flex .scrren-shot-desp .common-title p {
  color: #FFFFFF;
}

.screen-shots .D-flex .scrren-shot-desp .store-flex {
  margin-top: 53px;
}

.screen-shots .D-flex .screenshotImg {
  position: absolute;
  width: 50%;
  right: 0;
  top: 20%;
}

@media (max-width: 1200px) {
  .screen-shots .D-flex .screenshotImg {
    position: relative;
    width: 100%;
    margin-top: 4rem;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .screen-shots .D-flex .screenshotImg {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .screen-shots .D-flex .screenshotImg {
    max-width: 540px;
  }
}

.screen-shots .D-flex .screenshotImg .screenFrame {
  background-image: url("../../assets/images/screenshots/iPhone.png");
  background-position: 0;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  height: 520px;
  z-index: 99;
}

.screen-shots .D-flex .screenshotImg .screenFrame .screenshots {
  overflow: hidden;
}

.screen-shots .D-flex .screenshotImg .screenFrame .screenshots img {
  width: 100%;
  height: auto;
}

.screen-shots .D-flex .screenshotImg .screenFrame .screenshots .slick-slide img {
  width: auto;
}

.screen-shots .D-flex .screenshotImg .screenFrame .screenshots .slick-slide {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.screen-shots .D-flex .screenshotImg .screenFrame .screenshots .slick-slide.slick-current.slick-active img {
  padding-top: 20px;
  margin: 7px;
  -webkit-transform: scale(1.22);
  transform: scale(1.22);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/********************** pricing styles************************/
.pricing {
  margin-top: 200px;
  position: relative;
}

@media (max-width: 1200px) {
  .pricing {
    margin-top: 0;
  }
}

.pricing .shape-wrapper .star1 {
  left: 20%;
  top: 0;
}

.pricing .shape-wrapper .star2 {
  right: 20%;
  top: 0;
}

.pricing .shape-wrapper .blue-ball {
  width: 5.49px;
  right: 20%;
  top: -40px;
}

.pricing .shape-wrapper .shape8 {
  position: absolute;
  left: -3%;
  top: 5%;
}

.pricing .title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing .D-flex {
  margin-top: 29px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 991.5px) {
  .pricing .D-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.pricing .D-flex .base-plan {
  width: 320px;
  margin-right: 35px;
  padding: 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 15px #00000014;
          box-shadow: 0px 10px 15px #00000014;
  border-radius: 10px;
}

@media (max-width: 991.5px) {
  .pricing .D-flex .base-plan {
    width: 100%;
    margin-right: 0;
    margin-bottom: 35px;
  }
}

.pricing .D-flex .base-plan .plan-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 30px;
  border-bottom: 1px solid #0000001a;
}

.pricing .D-flex .base-plan .plan-header .plan-name {
  margin-left: 13px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.pricing .D-flex .base-plan .plan-header .plan-name h4 {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 7px;
  font-family: 'CeraPro-Bold';
}

.pricing .D-flex .base-plan .plan-header .plan-name h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pricing .D-flex .base-plan .plan-header .plan-name h3 .amount {
  font-size: 1.875rem;
  color: #000;
}

.pricing .D-flex .base-plan .plan-header .plan-name h3 .duration {
  font-size: 0.875rem;
  color: #000;
  margin-left: 1.2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.pricing .D-flex .base-plan .plan-header .plan-name .D-flex-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pricing .D-flex .base-plan .plan-header .plan-name .D-flex-plan .cut-price {
  font-size: 0.688rem;
  color: #262323;
  text-decoration: line-through;
}

.pricing .D-flex .base-plan .plan-header .plan-name .flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.pricing .D-flex .base-plan .plan-header .plan-name .save {
  margin-top: 10px;
}

.pricing .D-flex .base-plan .plan-header .plan-name .save span {
  min-width: 63px;
  background: #FEE4EB;
  border-radius: 25px;
  text-align: center;
  font-size: 10px;
  color: #FD427C;
  display: inline-block;
  padding: 6px 0;
}

.pricing .D-flex .base-plan .plan-body {
  padding-top: 25px;
}

.pricing .D-flex .base-plan .plan-body ul {
  padding-left: 40px;
}

.pricing .D-flex .base-plan .plan-body ul li {
  position: relative;
  margin-bottom: 25px;
  font-size: 0.938rem;
  color: #000;
}

.pricing .D-flex .base-plan .plan-body ul li::before {
  content: "\e905";
  color: #FE4C80;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -15px;
  font-size: 11px;
  font-family: 'icomoon';
}

.pricing .D-flex .add-ons {
  width: calc(100% - 355px);
  font-family: 'CeraPro-Bold';
}

@media (max-width: 991.5px) {
  .pricing .D-flex .add-ons {
    width: 100%;
  }
}

.pricing .D-flex .add-ons h3 {
  font-size: 1.625rem;
}

@media (max-width: 991.5px) {
  .pricing .D-flex .add-ons h3 {
    text-align: center;
  }
}

.pricing .D-flex .add-ons .D-flex {
  margin-right: -15px;
  margin-left: -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pricing .D-flex .add-ons .D-flex .addon-box {
  padding: 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 15px #00000014;
          box-shadow: 0px 10px 15px #00000014;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: calc(100% / 2 - 30px);
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
  height: 160px;
}

@media (max-width: 767.5px) {
  .pricing .D-flex .add-ons .D-flex .addon-box {
    width: 100%;
  }
}

.pricing .D-flex .add-ons .D-flex .addon-box .icon {
  width: 31px;
  margin-right: 10px;
}

.pricing .D-flex .add-ons .D-flex .addon-box .about-addon {
  width: calc(100% - 41px);
}

.pricing .D-flex .add-ons .D-flex .addon-box .about-addon .D--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.pricing .D-flex .add-ons .D-flex .addon-box .about-addon .D--flex .addon-details h6 {
  font-family: 'CeraPro-Bold';
}

.pricing .D-flex .add-ons .D-flex .addon-box .about-addon .D--flex .addon-details .save {
  margin-top: 10px;
}

.pricing .D-flex .add-ons .D-flex .addon-box .about-addon .D--flex .addon-details .save span {
  min-width: 63px;
  background: #FEE4EB;
  border-radius: 25px;
  text-align: center;
  font-size: 10px;
  color: #FD427C;
  display: inline-block;
  padding: 6px 0;
}

.pricing .D-flex .add-ons .D-flex .addon-box .about-addon .D--flex .price h3 {
  font-family: 'CeraPro-Bold';
  margin-bottom: 5px;
}

.pricing .D-flex .add-ons .D-flex .addon-box .about-addon .D--flex .price .cut-price {
  font-size: 0.688rem;
  color: #262323;
  text-decoration: line-through;
  text-align: right;
}

.pricing .D-flex .add-ons .D-flex .addon-box .about-addon .about-more {
  margin-top: 10px;
}

.pricing .D-flex .add-ons .D-flex .addon-box .about-addon .about-more p {
  font-size: 0.875rem;
  color: #000000b3;
  line-height: 20px;
  font-family: 'CeraPro-Regular';
}

/********************** contact styles************************/
.contact {
  position: relative;
}

.contact .shape-wrapper .star1 {
  left: 20%;
  top: 0;
}

.contact .shape-wrapper .star2 {
  right: 20%;
  top: 0;
}

.contact .shape-wrapper .blue-ball {
  width: 5.49px;
  right: 20%;
  top: -40px;
}

.contact .shape-wrapper .shape9 {
  position: absolute;
  right: -10%;
  top: 5%;
}

@media (max-width: 767.5px) {
  .contact .contact-img {
    margin-bottom: 2.5rem;
  }
}

.contact .contact-form .form-group {
  margin-bottom: 25px;
}

.contact .contact-form .form-group .form-control {
  border-radius: 10px;
  border: 1px solid #0000001a;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 19px;
  height: 55px;
  background: #F8F7FA;
  font-family: 'CeraPro-Light';
  color: #000;
}

.contact .contact-form .form-group .form-control.textare {
  height: inherit;
}

.contact .contact-form .form-group .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
}

.contact .contact-form .form-group .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}

.contact .contact-form .form-group .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
}

.contact .contact-form .form-group .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}

.contact .contact-form .common-btn {
  float: right;
}

/********************** contact styles************************/
.testimonials {
  position: relative;
}

@media (max-width: 991.5px) {
  .testimonials .container {
    overflow: hidden;
  }
}

.testimonials .shape-wrapper .star1 {
  left: 20%;
  top: 0;
}

.testimonials .shape-wrapper .star2 {
  right: 20%;
  top: 0;
}

.testimonials .shape-wrapper .blue-ball {
  width: 5.49px;
  right: 20%;
  top: -40px;
}

.testimonials .shape-wrapper .shape10 {
  position: absolute;
  left: -3%;
  top: 10%;
}

.testimonials .shape-wrapper .shape11 {
  position: absolute;
  left: -3%;
  bottom: -10%;
}

@media (max-width: 991.5px) {
  .testimonials .webonly {
    display: none;
  }
}

.testimonials .webonly .D-flex .testimonial-sec {
  width: 50%;
}

.testimonials .webonly .D-flex .testimonial-sec .authour-quotes .autor-pic {
  display: none;
}

.testimonials .webonly .D-flex .testimonial-sec .authour-quotes .users {
  display: none;
}

.testimonials .webonly .D-flex .testimonial-sec .authour-quotes .user-active {
  display: none;
}

.testimonials .webonly .D-flex .testimonial-sec .authour-quotes .client-quotes h6 {
  color: #4a4a4a;
  line-height: 25px;
}

.testimonials .webonly .D-flex .testimonial-sec .authour-quotes .client-quotes h4 {
  color: #000;
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: 'CeraPro-Bold';
}

.testimonials .webonly .D-flex .user-pros {
  width: 50%;
  margin-right: -120px;
}

@media (max-width: 1300.5px) {
  .testimonials .webonly .D-flex .user-pros {
    margin-right: -60px;
  }
}

.testimonials .webonly .D-flex .user-pros .outer-circle {
  width: 578px;
  background: #FFFFFF;
  height: 578px;
  border-radius: 50%;
  border: 1px dashed #FE5382;
  position: relative;
}

.testimonials .webonly .D-flex .user-pros .outer-circle > .blob {
  border-radius: 50%;
  margin: 10px;
  height: 20px;
  width: 20px;
  -webkit-transform: scale(1);
  transform: scale(1);
  background: #FD427C;
  -webkit-box-shadow: 0 0 0 0 #FD427C;
  box-shadow: 0 0 0 0 #FD427C;
  -webkit-animation: pulse-red 3s infinite;
  animation: pulse-red 3s infinite;
  position: absolute;
  top: 15%;
  left: 8%;
}

.testimonials .webonly .D-flex .user-pros .outer-circle > .testi-content .users {
  position: absolute;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  bottom: 0;
  left: 20%;
}

.testimonials .webonly .D-flex .user-pros .outer-circle > .testi-content-2 .users {
  position: absolute;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  right: 9%;
  top: 10%;
}

@media (max-width: 1180.5px) {
  .testimonials .webonly .D-flex .user-pros .outer-circle > .testi-content-2 .users {
    right: 20%;
    top: 0%;
  }
}

@media (max-width: 1024.5px) {
  .testimonials .webonly .D-flex .user-pros .outer-circle > .testi-content-2 .users {
    right: 32%;
    top: -5%;
  }
}

.testimonials .webonly .D-flex .user-pros .outer-circle .outer-circle2 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid #FE5382;
  width: 452px;
  height: 452px;
}

.testimonials .webonly .D-flex .user-pros .outer-circle .outer-circle2 .blob {
  border-radius: 50%;
  margin: 10px;
  height: 20px;
  width: 20px;
  -webkit-transform: scale(1);
  transform: scale(1);
  background: #FD427C;
  -webkit-box-shadow: 0 0 0 0 #FD427C;
  box-shadow: 0 0 0 0 #FD427C;
  -webkit-animation: pulse-red 3s infinite;
  animation: pulse-red 3s infinite;
  position: absolute;
  top: 20%;
  right: 3%;
}

.testimonials .webonly .D-flex .user-pros .outer-circle .outer-circle2 .testi-content .users {
  position: absolute;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  bottom: 18%;
}

.testimonials .webonly .D-flex .user-pros .outer-circle .outer-circle2 .testi-content-2 .users {
  position: absolute;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  bottom: 18%;
  right: 0;
}

@media (max-width: 1180.5px) {
  .testimonials .webonly .D-flex .user-pros .outer-circle .outer-circle2 .testi-content-2 .users {
    right: 15%;
    bottom: 0;
  }
}

@media (max-width: 1024.5px) {
  .testimonials .webonly .D-flex .user-pros .outer-circle .outer-circle2 .testi-content-2 .users {
    right: 30%;
    bottom: -5%;
  }
}

.testimonials .webonly .D-flex .user-pros .outer-circle .outer-circle3 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px dashed #FE5382;
  width: 318px;
  height: 318px;
}

.testimonials .webonly .D-flex .user-pros .outer-circle .outer-circle3 .users {
  position: absolute;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  top: 0;
  left: 40px;
}

.testimonials .webonly .D-flex .user-pros .outer-circle .outer-circle3 .blob {
  border-radius: 50%;
  margin: 10px;
  height: 20px;
  width: 20px;
  -webkit-transform: scale(1);
  transform: scale(1);
  background: #FD427C;
  -webkit-box-shadow: 0 0 0 0 #FD427C;
  box-shadow: 0 0 0 0 #FD427C;
  -webkit-animation: pulse-red 3s infinite;
  animation: pulse-red 3s infinite;
  position: absolute;
  bottom: 15%;
  left: 3%;
}

.testimonials .webonly .D-flex .user-pros .outer-circle .outer-circle4 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid #FE5382;
  width: 190px;
  height: 190px;
}

.testimonials .webonly .D-flex .user-pros .outer-circle .outer-circle4 .testi-content .users {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 98px;
  height: 98px;
  overflow: hidden;
}

.testimonials .webonly .D-flex .user-pros .outer-circle .outer-circle4 .blob {
  border-radius: 50%;
  margin: 10px;
  height: 20px;
  width: 20px;
  -webkit-transform: scale(1);
  transform: scale(1);
  background: #FD427C;
  -webkit-box-shadow: 0 0 0 0 #FD427C;
  box-shadow: 0 0 0 0 #FD427C;
  -webkit-animation: pulse-red 3s infinite;
  animation: pulse-red 3s infinite;
  position: absolute;
  top: 15px;
}

.testimonials .webonly .D-flex .user-pros .outer-circle .testi-content .users {
  cursor: pointer;
}

.testimonials .webonly .D-flex .user-pros .outer-circle .testi-content .client-quotes {
  display: none;
}

.testimonials .webonly .D-flex .user-pros .outer-circle .testi-content-2 .users {
  cursor: pointer;
}

.testimonials .webonly .D-flex .user-pros .outer-circle .testi-content-2 .client-quotes {
  display: none;
}

.testimonials .mobile-only {
  display: none;
}

@media (max-width: 991.5px) {
  .testimonials .mobile-only {
    display: block;
  }
}

.testimonials .mobile-only .client-quotes h6 {
  color: #A2A5AC;
  line-height: 25px;
  text-align: center;
}

.testimonials .mobile-only .client-quotes h4 {
  color: #000;
  margin-top: 15px;
  margin-bottom: 50px;
  text-align: center;
}

.testimonials .mobile-only .client-quotes .autor-logo {
  border-radius: 50%;
  width: 98px;
  height: 98px;
  overflow: hidden;
  margin: 10px auto;
}

.testimonials .mobile-only .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: #FD427C;
}

.cms-pages .page__title {
  font-family: 'CeraPro-Bold';
  margin-bottom: 15px;
}

.cms-pages h3 {
  font-family: 'CeraPro-Medium';
  margin-bottom: 15px;
}

.cms-pages p {
  margin-bottom: 15px;
}

.cms-pages p a {
  color: #FE4C80;
}

.cms-pages h6 {
  font-family: 'CeraPro-Medium';
  margin-bottom: 10px;
}

.cms-pages ul {
  padding-left: 20px;
}

.cms-pages ul li {
  position: relative;
  margin-bottom: 25px;
  font-size: 0.938rem;
  color: #000;
}

.cms-pages ul li::before {
  content: "\e905";
  color: #FE4C80;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -15px;
  font-size: 11px;
  font-family: 'icomoon';
}
/*# sourceMappingURL=style.css.map */