.cms-pages {
    .page__title {
        font-family: 'CeraPro-Bold';
        margin-bottom: 15px;
    }
    h3{
        font-family: 'CeraPro-Medium';
        margin-bottom: 15px;
    }
    p{
        margin-bottom: 15px;
        a{
            color: #FE4C80;
        }
    }
    h6{
        font-family: 'CeraPro-Medium';
        margin-bottom: 10px;
    }
    ul {
        padding-left: 20px;
        li{
            position: relative;
            margin-bottom: 25px;
            font-size: 0.938rem;
            color: #000;
            &::before {
                content: "\e905";
                color: #FE4C80;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -15px;
                font-size: 11px;
                font-family: 'icomoon';
            }
        }
    }
}