// Color Theory

$base-color: #FFFFFF;
$secondary-color:#383E40;
$teritary-color:#F8F7FA;
$other-color:#FFFBF5;
// font colors

$base-font: #24172B;
$secondary-font: #262323;
$teritary-font:#000000b3;
$other-font:#25182C;
$black: #000;

// Typography

h1{ 
    font-size: 3.125rem;// 50px
 }

h2{ 
    font-size: 2.125rem;// 34px
}

h3{ 
    font-size: 1.25rem;// 20px
 }

h4{ 
    font-size: 1.125rem;// 18px
 }
 h5{
     font-size: 1.063rem;// 17px
 }

 h6{
     font-size: 1rem;// 16px
 }

p{ 
    font-size: 0.875rem;// 14px
 }

// others 

.gradient{
    background: rgb(252,179,145);
    background: -moz-linear-gradient(90deg, rgba(252,179,145,1) 0%, rgba(255,87,132,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(252,179,145,1) 0%, rgba(255,87,132,1) 100%);
    background: linear-gradient(90deg, rgba(252,179,145,1) 0%, rgba(255,87,132,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcb391",endColorstr="#ff5784",GradientType=1);
}

$box-shadow:0px 10px 15px #00000014;
$border-radius:10px;
$border-color:#0000001a;

.common-btn{
    background: rgb(253,66,124);
    background: -moz-linear-gradient(90deg, rgba(253,66,124,1) 0%, rgba(255,87,132,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(253,66,124,1) 0%, rgba(255,87,132,1) 100%);
    background: linear-gradient(90deg, rgba(253,66,124,1) 0%, rgba(255,87,132,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fd427c",endColorstr="#ff5784",GradientType=1);
    border-radius: $border-radius;
    color: $base-color;
    font-size: 1rem;
    min-width: 13.125rem;
    text-align: center;
    padding: 1rem 0;
    display: inline-block;
    transition: all 1s ease;
    outline: 0;
    border: 1px solid #fd427c;
    &:hover{
        border-radius: 10px 0 10px 0;
        color: $base-color;
    }
}

$animation-speed: 0.5s;

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

@-webkit-keyframes rotated {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotated {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}
	
	70% {
		transform: scale(1.2);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}