
html {
    font-size: 1rem;
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 90%;
    @media (min-width: 767px) {
        font-size: 100%;
    }
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #fff;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'CeraPro-Regular';
    background: $base-color;
    overflow-x: hidden;
    .cursor{
        position: absolute;
        width: 20px;
        height: 20px;
        top: 50%;
        left: 50%;
        margin: 0;
        background: rgb(252,179,145);
        background: -moz-linear-gradient(90deg, rgba(252,179,145,1) 0%, rgba(255,87,132,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(252,179,145,1) 0%, rgba(255,87,132,1) 100%);
        background: linear-gradient(90deg, rgba(252,179,145,1) 0%, rgba(255,87,132,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcb391",endColorstr="#ff5784",GradientType=1);
        border-radius: 80%;
        backface-visibility: hidden;
        cursor: pointer;
        display: none;
    }
}


a{
    &:hover{
        text-decoration: none;
    }
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

section{
    max-width: 100vw;
    padding-top: 60px;
    padding-bottom: 60px;
}

p{
    margin: 0;
    padding: 0;
}

label{
    margin: 0;
    padding: 0;
}

button{
    &:focus{
        outline: none;
    }
}
.btn{
    &:focus{
        outline: none;
        box-shadow: none;
    }
}

ul{
    padding: 0;
    list-style: none;
    margin:0px;
}

.form-control{
    &:focus{
        outline: none;
        box-shadow: none;
    }
}

img{
    width: 100%;
}

.D-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.shape-wrapper {
    .blue-ball {
        position: absolute;
    }
    .shape1 {
        position: absolute;
        top: 0;
        left: 410px;
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
    @media (max-width: 991.5px) {
        justify-content: center;
    }
    h5{
        color: $black;
        font-family: 'CeraPro-Bold';
        margin-top: 7px;
        margin-left: 5.3px;
    }
}

.common-title{
    h2{
        font-family: 'CeraPro-Bold';
        margin-bottom: 23px;
        line-height: 45px;
        color:$base-font;
        @media (max-width: 991.5px) {
            text-align: center;
        }
    }
    p{
        color: $teritary-font;
        line-height: 25px;
        @media (max-width: 991.5px) {
            text-align: center;
        }
    }
}

.clear-fix {
    overflow: auto;
    &::after {
        content: "";
        clear: both;
        display: table;
      }
  }

/******************* Header css **********************************/

.header {
    position: relative;
    .D-flex {
        .menu {
            margin-top: 25px;
            @media (max-width: 991.5px) {
                margin-top: 0;
            }
            ul{
                @media (max-width: 991.5px) {
                    position: absolute;
                    left: 0;
                    right: 0;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background: $base-color;
                    box-shadow: $box-shadow;
                    z-index: 99;
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                    top: -300px;
                    transition: all ease .5s;
                    border-radius: 0 0 25px 25px;
                }
                li{
                    margin-right: 2.5rem;
                    @media (max-width: 991.5px) {
                        margin-right: 0;
                        margin-bottom: 1.5rem;
                    }
                    &:last-child{
                        margin-right: 0;
                        @media (max-width: 991.5px) {
                            margin-bottom: 0rem;
                        }
                    }
                    a{
                        color: $other-font;
                        font-family: 'CeraPro-Medium';
                        font-size: 1.063rem;
                        &:hover{
                            color: #25182cc9;
                        }
                    }
                }
            }
            .mobile-menu {
                transition: transform $animation-speed;
                display: none;
                @media (max-width: 991.5px) {
                    display: block;
                }
                .line-1 {
                    border-top: 3px solid $secondary-color;
                    display: block;
                    transition: margin $animation-speed, transform $animation-speed;
                    width: 25px;
                }
                
                .line-2 {
                    @extend .line-1;
                    margin: 5px 0;
                }
                
                .line-3 {
                    @extend .line-1;
                }
                
                &.toggle {
                    transform: rotateY(180deg);
            
                    .line-1 {
                        transform: rotate(45deg);
                    }
    
                    .line-2 {
                        margin: -3px 0;
                        opacity: 0;
                    }
    
                    .line-3 {
                        transform: rotate(-45deg);
                    }
                }
                
            }
            &.menu-toggle {
                .D-flex {
                    top: 85px;
                }
            }
        }
    }
    .shape-wrapper {
        .blue-ball {
            left: 54px;
            top: 30px;
            z-index: -1;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}

/******************* footer css **********************************/
.footer {
    padding-top: 70px;
    background: $other-color;
    border-radius: 75% 75% 0 0;
    @media (max-width: 767.5px) {
        border-radius: 150px 150px 0 0;
        z-index: 99;
        position: relative;
     }
    .footer-logo {
        width: 229px;
        margin: 0 auto 20px;
    }
    .store-flex{
        justify-content: center;
    }
    .footer-menu {
        margin-top: 35px;
        margin-bottom: 39px;
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 520.5px) {
                flex-wrap: wrap;
                justify-content: flex-start;
            }
            li{
                margin-right: 38px;
                @media (max-width: 520.5px) {
                   margin-right: 0;
                   margin-bottom: 10px;
                   width: 100%;
                   text-align: center;
                }
                &:last-child{
                    margin-right: 0;
                    @media (max-width: 520.5px) {
                        margin-bottom: 0px;
                     }
                }
                a{
                    color: #565C6B;
                    font-size: 0.875rem;
                }
            }
        }
    }
    .contacts {
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 991.5px) {
                flex-wrap: wrap;
                justify-content: flex-start;
            }
            li{
                margin-right: 96px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                @media (max-width: 991.5px) {
                    margin-right: 0;
                    margin-bottom: 25px;
                    width: calc(100% / 2);
                    justify-content: center;
                }
                @media (max-width: 520.5px) {
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .icons {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    position: relative;
                    background: rgb(253,66,124);
                    span{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        &::before{
                            font-size: 13px;
                            line-height: 26px;
                        }
                    }
                }
                .contacts-nos {
                    display: flex;
                    flex-direction: column;
                    width: calc(100% - 40px);
                    margin-left: 10px;
                    @media (max-width: 520.5px) {
                        width: 100%;
                            margin-left: 0;
                            text-align: center;
                            margin-top: 1.25rem;
                    }
                    a{
                        color: #565C6B;
                        font-size: 1rem;
                    }
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
    .D-flex{
        padding: 20px 0;
        margin-top: 30px;
        border-top: 1px solid $border-color;
        @media (max-width: 767.5px) {
            flex-wrap: wrap;
        }
        .copy-right {
            @media (max-width: 767.5px) {
                order: 2;
            }
            @media (max-width: 520.5px) {
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
            }
            p{
                color: #373A5B;
            }
        }
        .social-medias{
            @media (max-width: 767.5px) {
                order: 1;
                width: 100%;
                margin-bottom: 10px;
            }
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                li{
                    margin-right: 11px;
                    &:last-child{
                        margin-right: 0;
                    }
                    a{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        position: relative;
                        background: rgb(253,66,124);
                        display: block;
                        span{
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%,-50%);
                            &::before{
                                font-size: 12px;
                                line-height: 26px;
                            }
                        }
                    }
                }
            }
        }
        .poweredby{
            @media (max-width: 767.5px) {
                order: 3;
            }
            @media (max-width: 520.5px) {
                width: 100%;
                text-align: center;
            }
        }
    }
}

.blue-ball,
.star1,
.star2{
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
    position: absolute;
}

.swal2-popup .swal2-styled{
    background: #fd427c !important;
    background: -webkit-gradient(linear, left top, right top, from(#fd427c), to(#ff5784)) !important;
    background: linear-gradient(
90deg, #fd427c 0%, #ff5784 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fd427c",endColorstr="#ff5784",GradientType=1) !important;
    border-radius: 10px !important;
    color: #FFFFFF;
    font-size: 1rem;
}