/************** banner css ******************/
.banner {
    position: relative;
    .D-flex{
        @media (max-width: 991.5px) {
            flex-wrap: wrap;
        }
    }
    .banner-captions {
        width: 50%;
        @media (max-width: 991.5px) {
            width: 100%;
            order: 2;
        }
        h1{
            font-family: 'CeraPro-Bold';
            line-height: 57px;
            color: $base-font;
            max-width: 350px;
            @media (max-width: 991.5px) {
                max-width: 500px;
                    margin: auto;
                    text-align: center;
            }
        }
        h6{
            margin-top: 20px;
            margin-bottom: 30px;
            color: $secondary-font;
            line-height: 25px;
            max-width: 250px;
            @media (max-width: 991.5px) {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .banner-images {
        width: 50%;
        position: relative;
        cursor: pointer;
        @media (max-width: 991.5px) {
            width: 100%;
            order: 1;
            margin-bottom: 2.5rem;
        }
        .card1 {
            position: absolute;
            top: 30px;
            left: -25px;
            transition: all .5s ease;
            @media (max-width: 767.5px) {
                left: 0;
                transform: scale(.8);
                top: -10px;
            }
        }
        .card2 {
            position: absolute;
            top: 60%;
            left: -66px;
            transition: all .5s ease;
            @media (max-width: 767.5px) {
                transform: scale(0.5);
                left: -77px ;
            }
        }
        .card3 {
            position: absolute;
            top: 50%;
            right: 0;
            transition: all .5s ease;
            transform: translateY(-50%);
            @media (max-width: 767.5px) {
                transform: scale(.8);
            }
        }
        &:hover{
            .card1{
                left: -55px;
                @media (max-width: 991.5px) {
                    left: 0;
                }
            }
            .card2{
                left: -86px;
                @media (max-width: 991.5px) {
                    left: -80px;
                }
            }
            .card3{
                right: -20px;
                @media (max-width: 991.5px) {
                    right: 0;
                }
            }
        }
    }
    .shape-wrapper {
        .shape2 {
            position: absolute;
            left: -60px;
            bottom: 30%;
        }
        .shape3 {
            position: absolute;
            left: 58px;
        }
        .shape4 {
            position: absolute;
            left: 40%;
            bottom: 35%;
        }
        .shape5 {
            position: absolute;
            right: 17%;
            bottom: 20%;
        }
        .line {
            position: absolute;
            left: 200px;
            top: 50px;
            -webkit-animation: rotated 20s infinite linear;
            animation: rotated 20s infinite linear;
        }
        .star1 {
            left: 20%;
            bottom: -10%;
        }
        .star2 {
            right: 20%;
            bottom: -10%;
        }
        .blue-ball {
            width: 5.49px;
            left: 20%;
            bottom: 0;
        }
    }
}

.store-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media (max-width: 991.5px) {
        justify-content: center;
    }
    a{
        margin-right: 27px;
        &:last-child{
            margin-right: 0px;
        }
    }
}

/************** about css ******************/
.about{
    position: relative;
    .shape-wrapper {
        .star1 {
            left: 20%;
            bottom: -5%;
        }
        .star2 {
            right: 20%;
            bottom: -5%;
        }
        .blue-ball {
            width: 5.49px;
            right: 20%;
            top: 10%;
        }
        .shape6 {
            position: absolute;
            right: -3%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
     .D-flex {
        justify-content: flex-start;
        align-items: flex-start;
        @media (max-width: 991.5px) {
            flex-wrap: wrap;
        }
        .about-img {
            margin-left: -75px;
            width: 462px;
            margin-right: 25px;
            @media (max-width: 991.5px) {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 2rem;
            }
        }
        .about-first-look {
            width: calc(100% - 487px);
            @media (max-width: 991.5px) {
                width: 100%;
            }
            .key-points {
                margin-top: 25px;
                .D-flex {
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    margin-right: -10px;
                    margin-left: -10px;
                    .grid-box {
                        width: calc(100% / 2 - 20px);
                        margin-right: 10px;
                        margin-left: 10px;
                        margin-bottom: 20px;
                        @media (max-width: 580.5px) {
                            width: 100%;
                        }
                        .grid-icon {
                            width: 42px;
                            @media (max-width: 580.5px) {
                               margin: auto;
                            }
                        }
                        h3{
                            color: $black;
                            line-height: 26px;
                            margin-top: 15px;
                            margin-bottom: 15px;
                            @media (max-width: 580.5px) {
                                text-align: center;
                             }
                        }
                        p{
                            font-size: 0.813rem;
                            color: $teritary-font;
                            @media (max-width: 580.5px) {
                                text-align: center;
                             }
                        }
                    }
                }
            }
        }
    }
}

/************** features css ******************/
.features{
    position: relative;
    .shape-wrapper {
        .star1 {
            left: 20%;
            bottom: -5%;
        }
        .star2 {
            right: 20%;
            bottom: -5%;
        }
        .blue-ball {
            width: 5.49px;
            right: 20%;
            top: 10%;
        }
        .shape7 {
            position: absolute;
            left: -3%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .container{
        overflow: hidden;
    }
    .mobile-center {
        display: none;
        margin-bottom: 2.5rem;
        @media (max-width: 991.5px) {
            display: block;
        }
        .title {
            justify-content: center;
        }
    }
    .web-only {
        @media (max-width: 991.5px) {
            display: none;
        }
    }
    .mobile-only {
        display: none;
        @media (max-width: 991.5px) {
            display: block;
        }
        .first-look-features{
            
            .tab-names {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 2.5rem;
                .icon {
                    width: 35px;
                    height: 35px;
                    background: #fcb391;
                    background: -webkit-gradient(linear, left top, right top, from(#fcb391), to(#ff5784));
                    background: linear-gradient(
                90deg, #fcb391 0%, #ff5784 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcb391",endColorstr="#ff5784",GradientType=1);
                    border-radius: 50%;
                    position: relative;
                    margin-right: 15px;
                    span {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        font-size: 13px;
                        &::before {
                            color: #FFFFFF;
                        }
                    }
                }
            }
            @media (max-width: 767.5px) {
                padding-bottom: 40px;
            }
            .video-profile {
                @media (max-width: 767.5px) {
                   width: 300px;
                   margin: 0 auto 2.5rem;
                }
            }
        }
        
        .swiper-pagination-features {
            justify-content: center;
            .swiper-pagination-bullet-active {
                background: #FD427C;
            }
        }
    }
    .D-flex{
        justify-content: flex-start;
        @media (max-width: 767.5px) {
            flex-wrap: wrap;
        }
        .left-tabs{
            width: 222px;
            margin-right: 20px;
            @media (max-width: 767.5px) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 2rem;
            }
            .tabs-left {
                flex-direction: column;
                border-bottom: none;
                @media (max-width: 767.5px) {
                    flex-direction: row;
                    border-bottom: none;
                    justify-content: flex-start;
                    flex-wrap: nowrap;
                    max-width: 510px;
                    overflow-x: auto;
                }
                li{
                    @media (max-width: 767.5px) {
                       margin-right: 15px;
                       min-width: max-content;
                    }
                    a{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        border-right: 2px solid #E8EAEF;
                        padding: 7.5px 0;
                        @media (max-width: 767.5px) {
                            border-right: none;
                        }
                        &.active{
                            border-right: 2px solid #FD427C;
                            @media (max-width: 767.5px) {
                                border-right: none;
                            }
                            .icon {
                                background: rgb(252,179,145);
                                background: -moz-linear-gradient(90deg, rgba(252,179,145,1) 0%, rgba(255,87,132,1) 100%);
                                background: -webkit-linear-gradient(90deg, rgba(252,179,145,1) 0%, rgba(255,87,132,1) 100%);
                                background: linear-gradient(90deg, rgba(252,179,145,1) 0%, rgba(255,87,132,1) 100%);
                                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcb391",endColorstr="#ff5784",GradientType=1);
                                span{
                                    &::before{
                                        color: $base-color;
                                    }
                                }
                            }
                        }
                        .icon {
                            width: 35px;
                            height: 35px;
                            background: #F5F5F5;
                            border-radius: 50%;
                            position: relative;
                            margin-right: 15px;
                            span{
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%,-50%);
                                font-size: 13px;
                                &:before{
                                    color: #B6B6B6;
                                }
                            }
                        }
                        h6{
                            color: $black;
                        }
                    }
                }
            }
        }
        .right-tabpanels{
            width: calc(100% - 242px);
            @media (max-width: 767.5px) {
                width: 100%;
            }
            .title {
                @media (max-width: 991.5px) {
                    display: none;
                }
            }
            .tab-content {
                .tab-pane{
                    .row{
                        align-items: center;
                        .video-profile{
                            @media (max-width: 991.5px) {
                                margin-bottom: 2.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

/********************** screen-shots styles************************/
.screen-shots{
    position: relative;
    min-height: 380px;
    margin-top: 50px;
    padding-top: 80px;
    .D-flex{
        flex-wrap: wrap;
        .scrren-shot-desp{
            max-width: 453px;
            @media (max-width: 991px) {
                margin: auto;
            }
            .common-title{
                h2,p{
                    color: $base-color;
                }
            }
            .store-flex {
                margin-top: 53px;
            }
        }
        .screenshotImg {
            position: absolute;
            width: 50%;
            right: 0;
            top: 20%;
            @media (max-width: 1200px) {
                position: relative;
                width: 100%;
                margin-top: 4rem;
                max-width: 960px;
                margin-left: auto;
                margin-right: auto;
            }
            @media (max-width: 991px) {
                max-width: 720px;
            }
            @media (max-width: 767px) {
                max-width: 540px;
            }
    
            .screenFrame {
                background-image: url('../../assets/images/screenshots/iPhone.png');
                background-position: 0;
                background-repeat: no-repeat;
                background-size: contain;
                position: relative;
                height: 520px;
                z-index: 99;
                .screenshots {
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: auto;
                      }
                      .slick-slide {
                        img {
                            width: auto;
                          }
                      }
                      .slick-slide{
                          transform: scale(1);
                          &.slick-current{
                              &.slick-active {
                                img {
                                    padding-top: 20px;
                                    margin: 7px;
                                    -webkit-transform: scale(1.22);
                                    transform: scale(1.22);
                                    -webkit-transition: all .3s ease-in-out;
                                    transition: all .3s ease-in-out;
                                  }
                              }
                          }
                      }
                }
              }
          }
    }
}

/********************** pricing styles************************/
.pricing{
    margin-top: 200px;
    position: relative;
    @media (max-width: 1200px) {
        margin-top: 0;
    }
    .shape-wrapper {
        .star1 {
            left: 20%;
            top: 0;
        }
        .star2 {
            right: 20%;
            top: 0;
        }
        .blue-ball {
            width: 5.49px;
            right: 20%;
            top: -40px;
        }
        .shape8 {
            position: absolute;
            left: -3%;
            top: 5%;
        }
    }
    .title {
        justify-content: center;
    }
    .D-flex {
        margin-top: 29px;
        justify-content: flex-start;
        align-items: flex-start;
        @media (max-width: 991.5px) {
            flex-wrap: wrap;
        }
        .base-plan{
            width: 320px;
            margin-right: 35px;
            padding: 30px;
            background: $base-color;
            box-shadow: $box-shadow;
            border-radius: $border-radius;
            @media (max-width: 991.5px) {
                   width: 100%;
                   margin-right: 0;
                   margin-bottom: 35px;
            }
            .plan-header {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                padding-bottom: 30px;
                border-bottom: 1px solid #0000001a;
                .plan-name {
                    margin-left: 13px;
                    flex: 1;
                    h4{
                        font-size: 1.5rem;
                        color: $black;
                        margin-bottom: 7px;
                        font-family: 'CeraPro-Bold';
                    }
                    h3{
                        display: flex;
                        .amount{
                            font-size: 1.875rem;
                            color: $black;
                        }
                        .duration {
                            font-size: 0.875rem;
                            color: $black;
                            margin-left: 1.2rem;
                            align-self: flex-end;
                        }
                    }
                    .D-flex-plan{
                        display: flex;
                        flex-direction: column;
                        .cut-price {
                            font-size: 0.688rem;
                            color: #262323;
                            text-decoration: line-through;
                        }
                    }
                    .flex-box {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                    }
                    .save {
                        margin-top: 10px;
                        span{
                            min-width: 63px;
                            background: #FEE4EB;
                            border-radius: 25px;
                            text-align: center;
                            font-size: 10px;
                            color: #FD427C;
                            display: inline-block;
                            padding: 6px 0;
                        }
                    }
                }
            }
            .plan-body {
                padding-top: 25px;
                ul{
                    padding-left: 40px;
                    li{
                        position: relative;
                        margin-bottom: 25px;
                        font-size: 0.938rem;
                        color: $black;
                        &::before {
                            content: "\e905";
                            color: #FE4C80;
                            font-weight: bold;
                            display: inline-block;
                            width: 1em;
                            margin-left: -15px;
                            font-size: 11px;
                            font-family: 'icomoon';
                        }
                    }
                }
            }
        }
        .add-ons{
            width: calc(100% - 355px);
            font-family: 'CeraPro-Bold';
            @media (max-width: 991.5px) {
                width: 100%;
            }
            h3{
                font-size: 1.625rem;
                @media (max-width: 991.5px) {
                    text-align: center;
                }
            }
            .D-flex {
                margin-right: -15px;
                margin-left: -15px;
                flex-wrap: wrap;
                .addon-box {
                    padding: 20px;
                    background: $base-color;
                    box-shadow: $box-shadow;
                    border-radius: $border-radius;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: calc(100% / 2 - 30px);
                    margin-right: 15px;
                    margin-left: 15px;
                    margin-bottom: 30px;
                    height: 160px;
                    @media (max-width: 767.5px) {
                        width: 100%;
                    }
                    .icon {
                        width: 31px;
                        margin-right: 10px;
                    }
                    .about-addon {
                        width: calc(100% - 41px);
                        .D--flex {
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-start;
                            .addon-details {
                                h6{
                                    font-family: 'CeraPro-Bold';
                                }
                                .save {
                                    margin-top: 10px;
                                    span{
                                        min-width: 63px;
                                        background: #FEE4EB;
                                        border-radius: 25px;
                                        text-align: center;
                                        font-size: 10px;
                                        color: #FD427C;
                                        display: inline-block;
                                        padding: 6px 0;
                                    }
                                }
                            }
                            .price {
                                h3{
                                    font-family: 'CeraPro-Bold';
                                    margin-bottom: 5px;
                                }
                                .cut-price{
                                    font-size: 0.688rem;
                                    color: $secondary-font;
                                    text-decoration: line-through;
                                    text-align: right;
                                }
                            }
                        }
                        .about-more {
                            margin-top: 10px;
                            p{
                                font-size: 0.875rem;
                                color: #000000b3;
                                line-height: 20px;
                                font-family: 'CeraPro-Regular';
                            }
                        }
                    }
                }
            }
        }
    }
}

/********************** contact styles************************/
.contact{
    position: relative;
    .shape-wrapper {
        .star1 {
            left: 20%;
            top: 0;
        }
        .star2 {
            right: 20%;
            top: 0;
        }
        .blue-ball {
            width: 5.49px;
            right: 20%;
            top: -40px;
        }
        .shape9 {
            position: absolute;
            right: -10%;
            top: 5%;
        }
    }
    .contact-img{
        @media (max-width: 767.5px) {
            margin-bottom: 2.5rem;
        }
    }
    .contact-form {
        .form-group {
            margin-bottom: 25px;
            .form-control {
                border-radius: $border-radius;
                border: 1px solid $border-color;
                padding-top: 19px;
                padding-bottom: 19px;
                padding-left: 19px;
                height: 55px;
                background: $teritary-color;
                font-family: 'CeraPro-Light';
                color: $black;
                &.textare{
                    height: inherit;
                }
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: $black;
                  }
                  &::-moz-placeholder { /* Firefox 19+ */
                    color: $black;
                  }
                  &:-ms-input-placeholder { /* IE 10+ */
                    color: $black;
                  }
                  &:-moz-placeholder { /* Firefox 18- */
                    color: $black;
                  }
            }
        }
        .common-btn{
            float: right;
        }
    }
}

/********************** contact styles************************/
.testimonials{
    position: relative;
    .container{
        @media (max-width: 991.5px) {
            overflow: hidden;
        }
    }
    .shape-wrapper {
        .star1 {
            left: 20%;
            top: 0;
        }
        .star2 {
            right: 20%;
            top: 0;
        }
        .blue-ball {
            width: 5.49px;
            right: 20%;
            top: -40px;
        }
        .shape10 {
            position: absolute;
            left: -3%;
            top: 10%;
        }
        .shape11 {
            position: absolute;
            left: -3%;
            bottom: -10%;
        }
    }
    .webonly{
        @media (max-width: 991.5px) {
            display: none;
        }
        .D-flex{
            .testimonial-sec{
                width: 50%;
                .authour-quotes{
                    .autor-pic{
                        display: none;
                    }
                    .users {
                        display: none;
                    }
                    .user-active{
                        display: none;
                    }
                    .client-quotes{
                        h6{
                            color: #4a4a4a;
                            line-height: 25px;
                        }
                        h4{
                            color: #000;
                            margin-top: 30px;
                            margin-bottom: 50px;
                            font-family: 'CeraPro-Bold';
                        }
                    }
                }
            }
            .user-pros{
                width:50%;
                margin-right: -120px;
                @media (max-width: 1300.5px) {
                    margin-right: -60px;
                }
                .outer-circle{
                    width: 578px;
                    background: $base-color;
                    height: 578px;
                    border-radius: 50%;
                    border: 1px dashed #FE5382;
                    position: relative;
                    > .blob {
                        border-radius: 50%;
                        margin: 10px;
                        height: 20px;
                        width: 20px;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                        background: #FD427C;
                        -webkit-box-shadow: 0 0 0 0 #FD427C;
                        box-shadow: 0 0 0 0 #FD427C;
                        -webkit-animation: pulse-red 3s infinite;
                        animation: pulse-red 3s infinite;
                        position: absolute;
                        top: 15%;
                        left: 8%;
                    }
                    > .testi-content{
                        .users{
                            position: absolute;
                            width: 66px;
                            height: 66px;
                            border-radius: 50%;
                            overflow: hidden;
                            bottom: 0;
                            left: 20%;
                        }
                    }
                    > .testi-content-2{
                        .users{
                            position: absolute;
                            width: 66px;
                            height: 66px;
                            border-radius: 50%;
                            overflow: hidden;
                            right: 9%;
                            top: 10%;
                            @media (max-width: 1180.5px) {
                                right: 20%;
                                top: 0%;
                            }
                            @media (max-width: 1024.5px) {
                                right: 32%;
                                top: -5%;
                            }
                        }
                    }
                    .outer-circle2{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        border-radius: 50%;
                        border: 1px solid #FE5382;
                        width: 452px;
                        height: 452px;
                        .blob {
                            border-radius: 50%;
                            margin: 10px;
                            height: 20px;
                            width: 20px;
                            -webkit-transform: scale(1);
                            transform: scale(1);
                            background: #FD427C;
                            -webkit-box-shadow: 0 0 0 0 #FD427C;
                            box-shadow: 0 0 0 0 #FD427C;
                            -webkit-animation: pulse-red 3s infinite;
                            animation: pulse-red 3s infinite;
                            position: absolute;
                            top: 20%;
                            right: 3%;
                        }
                        .testi-content{
                            .users{
                                position: absolute;
                                width: 66px;
                                height: 66px;
                                border-radius: 50%;
                                overflow: hidden;
                                bottom: 18%;
                            }
                        }
                        .testi-content-2{
                            .users{
                                position: absolute;
                                width: 66px;
                                height: 66px;
                                border-radius: 50%;
                                overflow: hidden;
                                bottom: 18%;
                                right: 0;
                                @media (max-width: 1180.5px) {
                                    right: 15%;
                                    bottom: 0;
                                }
                                @media (max-width: 1024.5px) {
                                    right: 30%;
                                    bottom: -5%;
                                }
                            }
                        }
                    }
                    .outer-circle3{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        border-radius: 50%;
                        border: 1px dashed #FE5382;
                        width: 318px;
                        height: 318px;
                        .users{
                            position: absolute;
                            width: 66px;
                            height: 66px;
                            border-radius: 50%;
                            overflow: hidden;
                            top: 0;
                            left: 40px;
                        }
                        .blob {
                            border-radius: 50%;
                            margin: 10px;
                            height: 20px;
                            width: 20px;
                            -webkit-transform: scale(1);
                            transform: scale(1);
                            background: #FD427C;
                            -webkit-box-shadow: 0 0 0 0 #FD427C;
                            box-shadow: 0 0 0 0 #FD427C;
                            -webkit-animation: pulse-red 3s infinite;
                            animation: pulse-red 3s infinite;
                            position: absolute;
                            bottom: 15%;
                            left: 3%;
                        }
                    }
                    .outer-circle4{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        border-radius: 50%;
                        border: 1px solid #FE5382;
                        width: 190px;
                        height: 190px;
                        .testi-content{
                            .users{
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%,-50%);
                                border-radius: 50%;
                                width: 98px;
                                height: 98px;
                                overflow: hidden;
                            }
                        }
                        .blob {
                            border-radius: 50%;
                            margin: 10px;
                            height: 20px;
                            width: 20px;
                            -webkit-transform: scale(1);
                            transform: scale(1);
                            background: #FD427C;
                            -webkit-box-shadow: 0 0 0 0 #FD427C;
                            box-shadow: 0 0 0 0 #FD427C;
                            -webkit-animation: pulse-red 3s infinite;
                            animation: pulse-red 3s infinite;
                            position: absolute;
                            top: 15px;
                        }
                    }
                    .testi-content {
                        .users{
                            cursor: pointer;
                        }
                        .client-quotes {
                            display: none;
                        }
                    }
                    .testi-content-2 {
                        .users{
                            cursor: pointer;
                        }
                        .client-quotes {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .mobile-only{
        display: none;
        @media (max-width: 991.5px) {
            display: block;
        }
        .client-quotes{
            h6{
                color: #A2A5AC;
                line-height: 25px;
                text-align: center;
            }
            h4{
                color: #000;
                margin-top: 15px;
                margin-bottom: 50px;
                text-align: center;
            }
            .autor-logo{
                border-radius: 50%;
                width: 98px;
                height: 98px;
                overflow: hidden;
                margin: 10px auto;
            }
        } 
        .swiper-pagination-bullets {
            .swiper-pagination-bullet-active{
                background: #FD427C;
            }
        }
    }
}
